    <div id="home-sec">


        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="head-main">Travel Template</span>
                    <h3 class="head-last col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-offset-2 col-sm-8">Once a year, Go someplace you've never been before.
</h3>


                </div>
            </div>
        </div>
    </div>


    <section  id="services-sec">
  <!--      <div class="container">
            <div class="row ">
                <div class="text-center g-pad-bottom">
                    <div class="col-md-4 col-sm-4 alert-info">
                            <h4>Hotels</h4>
                            <p>
                            
                                aasdashdkskasgdkas
                                dashdkashkdhas
                                dhaskjdhaskjdh
                                
                            </p>
                            
                    </div>
                    <div class="col-md-4 col-sm-4 alert-success">
                            <h4>sdkashdkajsdh</h4>
                            <p>
                                adjaslkjd
                                asdjaskdjasd
                                sdhasjdhsad
                        </p>
                            
                    </div>
                   
                    <div class="col-md-4 col-sm-4 alert-danger">
                            <h4> dnfkjdhfkjdhfkjd</h4>
                            <p>
                                ddbkafkajd
                                sdfbkjsdhfksdhf
                            </p>
                          
                    </div>
                </div>
                  </div>
                <div class="row go-marg">
                  
                    <div class="col-md-4 col-sm-4">
                          <div class="panel panel-default">
                       
                        <div class="panel-body">
                             <h4 class="adjst">Tour Package One #1 </h4>
                            <p>
                            afmakfmkd;ajfdafj;adjfk;dafjda;k  
                            </p>
                             
                            
                        </div>
                    </div> 
                            
                    </div>
                   <div class="col-md-4 col-sm-4">
                          <div class="panel panel-default">
                       
                        <div class="panel-body">
                             <h4 class="adjst">Tour Package Two #2 </h4>
                            <p>
                sdhasdfgakfgdakhgdafdakdafhgdakfgdakfgdakf
                            fadhfagfkadgfdakfgdakf
                            </p>
                             
                            
                        </div>
                    </div> 
                            
                    </div>
                     <div class="col-md-4 col-sm-4">
                          <div class="panel panel-default">
                       
                        <div class="panel-body">
                             <h4 class="adjst">Tour Package Three #3 </h4>
                            <p>
                                   fnhdsfgdjgfsdhfgsdhgfsdhfgsdjfgsdjfjsd
                            </p>
                             
                            
                        </div>
                    </div> 
                            
                    </div>
                </div>
          
        </div>
 -->   </section>
    <!--END HOME SECTION-->
  
